
//--------------------- Colors----------------
$darkBlue: #00071e;
$blue: #100c5a;
$lightBlue: #00071e00;
$white: #fff;
$lightGrey: #0000001a;
$darkOrange: #774c38;
$orange: #b1806a;
$lightOrange: #fedcb6;