// body{
//     background-color: $darkBlue;
// }

body::-webkit-scrollbar {
    width: .5rem;
    background-color: $darkBlue;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 2.5rem;   
}